name: Deploy Backend to EC2

on:
  push:
    branches: [ main ]   # ana branch'in ismi farklıysa burada da onu yaz (ör: master)

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH deploy backend
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /srv/depo-backend
            git pull origin main          # branch adına göre güncelle
            npm install --production
            pm2 reload depo-backend || pm2 start ecosystem.config.js
